$red: #ff3838;

.boxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  // margin: 1.25rem 0rem;
}
.box {
  height: 19rem;
  flex: 1 1 19rem;
  border: 0.6rem solid #fff;
  box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  position: relative;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .content {
    position: absolute;
    // top: -100%;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    padding: 0.6rem;
    padding-top: 1.5rem;
    text-align: center;
    transform: scale(1.3);
    opacity: 0;
    h3 {
      font-size: 1.5rem;
      color: #333;
    }
    p {
      font-size: 1rem;
      color: #666;
      padding: 0.6rem 0;
    }
  }
  &:hover .content {
    // top: 0;
    transform: scale(1);
    opacity: 1;
  }
  &:hover img {
    transform: scale(1.3);
  }
}

// flickProductPop
.border {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.speciality {
  flex: 1 1 19rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 0.5rem;
  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
  }
  .content {
    text-align: center;
    background: #fff;
    padding: 1.25rem;
    img {
      margin: 1rem auto;
      width: 3.125rem;
      height: 3.125rem;
    }
    h3 {
      font-size: 1.5rem;
      color: #333;
    }
    p {
      font-size: 1rem;
      color: #666;
      padding: 0.6rem 0;
    }
  }
  &:hover .image {
    top: 0;
  }
  &:hover .content {
    transform: translateY(100%);
  }
}
