// variables
$white: #fff;
$black: #333;
$orange: #ff9500;
$light: rgba(0, 0, 0, 0.3);
// mixins

// styles
.products {
  display: flex;
  padding: 5px;
  gap: 10px;

  .slideProduct {
    overflow: hidden;
    position: relative;
    border: 0.1rem solid $light;
    border-radius: 0.5rem;
    background: $white;
    margin: 0.25rem;
    &:hover .icons {
      right: 0.25rem;
    }
    .image {
      padding: 0.5rem;
      // position: relative;
      img {
        height: 18.75rem;
        width: 18.75rem;
        // width:100%;
        object-fit: contain;
      }
      &:hover img {
        transform: scale(0.9);
      }
      .bottomIcons {
        position: absolute;
        bottom: 11rem;
        left: 0;
        right: 0;
        display: flex;
        visibility: hidden;
        opacity: 0;
        .iconsize {
          height: 3rem;
          line-height: 3rem;
          font-size: 1.25rem;
          width: 50%;
          background: $orange;
          color: #fff;
          text-align: center;
          &:hover {
            background: #333;
          }
        }
        .cartBtn {
          border-left: 0.1rem solid #fff7;
          border-right: 0.1rem solid #fff7;
          width: 100%;
        }
      }
    }
    &:hover .image .bottomIcons {
      // bottom: 0;
      opacity: 1;
      visibility: visible;
    }
    .discount {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      background: rgb(48 62 48 / 9%);
      color: $orange;
      padding: 0.5rem 0.25rem;
      font-size: 1.25rem;
    }
    .content {
      padding: 1.25rem;
      border-top: 0.1rem solid $light;
      h3 {
        color: $black;
        font-weight: normal;
        font-size: 1.5rem;
        padding: 0.5rem 0;
      }
      .price {
        color: $orange;
        font-weight: bolder;
        font-size: 1.5rem;
        padding: 0.5rem 0;
        display: inline-flex;
        margin-right: 2.5rem;
        span {
          color: $black;
          font-weight: normal;
          font-size: 0.9rem;
          text-decoration: line-through;
          margin-top: 0.25rem;
          margin-left: 0.5rem;
        }
      }
    }
    .icons {
      position: absolute;
      top: 0.25rem;
      right: -3rem;
      a {
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
        text-align: center;
        font-size: 1.25rem;
        border-radius: 50%;
        background: $black;
        color: $white;
        display: block;
        margin-top: 0.25rem;
        .iconsize {
          // font-size: 1.5rem;
          color: $white;
        }
        &:hover {
          background: $orange;
          color: $white;
        }
      }
    }
  }
}
