@import "../mixins";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
// variables
$green: #27ae60;
$black: #192a56;
$light: #666;
$box-shadow: 0 0.25rem 0.6rem rgba(0, 0, 0, 0.1);
// mixins

// .dishes {
.Container {
  padding: 1.25rem;
}
.boxContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  gap: 1rem;
}
// }
.box {
  padding: 1.5rem;
  background: #fff;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: $box-shadow;
  position: relative;
  overflow: hidden;
  text-align: center;

  .iconsContainer {
    @include display-flex($justify: space-between);
    @include visibility(false);
  }
  .icons {
    width: 3.125rem;
    height: 3.125rem;
    background: #eee;
    position: relative;
    border-radius: 50%;
    &:hover {
      background: $green;

      .heartIcon,
      .eyeIcon {
        color: #fff;
      }
    }
    .heartIcon,
    .eyeIcon {
      @include position($position: absolute, $top: 0.87rem, $left: 0.87rem);
      border-radius: 50%;
      font-size: 1.5rem;
      color: $black;
    }
  }

  &:hover .iconsContainer {
    right: 1rem;
    @include visibility();
  }
  &:hover .iconsContainer {
    left: 1rem;
    // @include visibility();
  }

  img {
    height: 10.625rem;
    margin: 0.6rem auto;
  }
  &:hover img {
    transform: scale(1.1);
  }
  h3 {
    color: $black;
    font-size: 1.5rem;
  }
  .price {
    color: $green;
    font-weight: bolder;
    margin-right: 0.6rem;
    font-size: 1.5rem;
  }
  fieldset span {
    margin-right: 0;
    margin-bottom: 0.6rem;
    // color: $green;
  }
}
