$bg: #e5e5e5;
$bg-accent: #484a4d;
$text-color: #636363;
$nav-size: 60px;
$border: 1px solid #474a4d;
$border-radius: 8px;
$speed: 500ms;

/* Top Navigation Bar */

/* <nav> */
.navbar {
  height: $nav-size;
  background-color: $bg;
  padding: 0 1rem;
  border-bottom: $border;
}

/* <ul> */
.navbarNav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

/* <li> */
.navItem {
  width: calc(#{$nav-size} * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.iconButton {
  $button-size: calc(#{$nav-size} * 0.5);
  width: $button-size;
  height: $button-size;
  background-color: #484a4d;
  border-radius: 50%;
  padding: 7px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  &:hover {
    filter: brightness(1.2);
  }
  svg {
    fill: $bg;
    width: 20px;
    height: 20px;
  }
}

/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: $bg;
  border: $border;
  border-radius: $border-radius;
  padding: 1rem;
  overflow: hidden;
  transition: height $speed ease;
}

.menu {
  width: 100%;
}
.menuTitle {
  font-size: 25px;
  font-weight: 600;
}
.menuTitle2 {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.menuItem {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: $border-radius;
  transition: background $speed;
  padding: 0.5rem;
  color: $text-color;
  .iconButton {
    margin-right: 0.5rem;
    &:hover {
      filter: none;
    }
  }
  &:hover {
    background-color: #f4f4f4;
  }
}

.iconRight {
  margin-left: auto;
}
