// variables
$red: #ff3838;

// styles

.home {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem 8%;
  gap: 1rem;
  min-height: 100vh;
  align-items: center;
  background: url(/img/bannar/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  .content {
    flex: 1 1 40rem;
    padding-top: 4rem;
    h3 {
      font-size: 3.125rem;
      color: #333;
    }
    p {
      font-size: 1rem;
      color: #666;
      padding: 0.6rem 0;
    }
  }
  .image {
    flex: 1 1 15rem;
    img {
      width: 100%;
      padding: 0.6rem;
      animation: float 3s linear infinite;
    }
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(2rem);
  }
}
