@import "./carousel.scss";

$speed: 500ms;

* {
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  // border: none;
  text-decoration: none;
  // text-transform: capitalize;
  transition: 0.2s linear;
}
html {
  // font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.85rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3.2rem;
}
body {
  background: #eee;
}

.linking {
  font-size: 2rem;
  padding: 2rem;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all $speed ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all $speed ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all $speed ease;
}
//   .menu-secondary-exit {

//   }
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all $speed ease;
}
